ffmpeg/bin/* filter=lfs diff=lfs merge=lfs -text
sherpa-onnx-models/sherpa-onnx-streaming-zipformer-ar_en_id_ja_ru_th_vi_zh-2025-02-10/encoder.onnx filter=lfs diff=lfs merge=lfs -text
sherpa-onnx-models/sherpa-onnx-streaming-zipformer-bilingual-zh-en-2023-02-20/encoder.onnx filter=lfs diff=lfs merge=lfs -text