pyaudio
SpeechRecognition
python-osc
Flask
waitress
zeroconf==0.39.1
requests
keyboard
hanziconv
pyttsx3
pydub
pyaudiowpatch
numpy
openvr
Pillow
pywin32
sherpa_onnx
translators
miniaudio
py7zr
flask_socketio
opuslib